.Card__container { 
  margin: 24px 32px;
}

.Card__container--glow {
  box-shadow: -2px -2px 8px var(--cyberYellow), 2px 2px 8px var(--cyberYellow);
}

.Card__titleAndAttributes {
  width: auto; 
  border: 1px solid var(--pirateBlack); 
  padding: 8px 16px; font: var(--headline6)
}

.Card__titleAndAttributes div:nth-child(1) {
  display: flex; 
  align-items: center;
}

.Card__titleAndAttributes div:nth-child(2) {
  display: flex;
  margin-top: 8px;
}

.Card__titleAndAttributes b {
  color: var(--vibrantOrange);
}

.Card__titleAndAttributes p {
  margin: 0 0 0 8px;
} 

.Card__titleAndAttributes img:first-of-type + p {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.Card__actionButton {
  border: 0; 
  background-color: var(--electricBlueLemonade); 
  color: var(--snow); 
  width: 100%; 
  font: var(--headline6);
  padding: 16px 0;
}