/build/
/out/
/*.zkey
/*.r1cs
/*.sym
/*_js/
/*.ptau
/*.wasm
/*.cpp
/*.hpp
/*.dat
/*.asm
/*.wtns
/proofs/
/verifier.sol
input.json
proof.json
public.json
/node_modules/
/CommitCircuit_cpp/
/LikeOrDislikeCircuit_cpp/
!./LikeOrDislikeCircuit/