.Button--verticalText {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;      
}

.Button--horizontalText {
  background-color: transparent;
  align-items: center;
  gap: 16px;
  border: none;
  display: flex;
  padding: 0;
}

.Button--textBetweenTwoIcons {
  background-color: transparent;
  border: 1px solid var(--pirateBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px 32px;
  font: var(--headline6);
  padding: 14px 18px;
  max-width: 23rem;
  width: 100%;
  flex-wrap: nowrap
}

.Button--textBetweenTwoIcons > div {
  display: flex;
  align-items: center;
}

.Button--textBetweenTwoIcons img {
  height: 1.7rem;  
  width: auto;
}

.Button--textBetweenTwoIcons > div > img {
  margin-right: 8px;
}

button {
  cursor: pointer;
}